@import "./variables/_units.scss";
@import "./variables/_breakpoints.scss";
@import "./variables/_colors.scss";
@import "./mixins/_breakpoints.scss";
@import "./sheets/_normalize.scss";


@font-face {
  font-family: "Quicksand";
  src: local("Quicksand"), url(../fonts/Quicksand-Regular.ttf) format("truetype");
  font-weight: 300;
}

@font-face {
  font-family: "Quicksand";
  src: local("Quicksand-Light"), url(../fonts/Quicksand-Light.ttf) format("truetype");
  font-weight: 100;
}

@font-face {
  font-family: "Quicksand";
  src: local("Quicksand-Bold"), url(../fonts/Quicksand-Bold.ttf) format("truetype");
  font-weight: 600;
}

html {
  font-size: 62.5%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.wrapper {
  max-width: calc($tablet-width - $double-unit * 2);
  padding: 0 $double-unit;
  display: flex;
  flex-direction: column;
  margin: 0 auto;

  @include desktop {
    max-width: $tablet-width;
    padding: 0;
  }
}

#root {
  width: 100%;
  font-family: "Quicksand", sans-serif;
  color: $neutral-dark;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


body {
  margin: 0;
  font-family: "Quicksand", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 1.8rem;
  line-height: 2.4rem;
  font-weight: 400;
  text-size-adjust: 100%;
  font-weight: 400;
}

h1 {
  font-size: 4.2rem;
  line-height: 4.8rem;
  font-weight: 300;
  letter-spacing: -1px;
  margin: 0;
}

h3 {
  font-size: 1.8rem;
  line-height: 2.4rem;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 600;
  margin: 0 0 $double-unit;
  text-decoration: underline;
  text-underline-offset: $half-unit;
}

h4 {
  font-size: 1.6rem;
  line-height: 2.2rem;
  letter-spacing: 2px;
  font-weight: 600;
  margin: 0 0 $unit;
}

p {
  margin: 0;
}

a {
  color: $neutral-dark;
  font-weight: 600;
  text-decoration: underline;
  cursor: pointer;

  &:hover {
    color: $neutral-dark-text-light;
  }
}

section {
  padding: $quad-unit 0;

  &:not(:last-of-type) {
    border-bottom: 1px solid $neutral-mid;
  }
}

