@font-face {
  font-family: "Quicksand";
  src: local("Quicksand"), url(../fonts/Quicksand-Regular.ttf) format("truetype");
  font-weight: 300;
}

@font-face {
  font-family: "Quicksand";
  src: local("Quicksand-Light"), url(../fonts/Quicksand-Light.ttf) format("truetype");
  font-weight: 100;
}

@font-face {
  font-family: "Quicksand";
  src: local("Quicksand-Bold"), url(../fonts/Quicksand-Bold.ttf) format("truetype");
  font-weight: 600;
}

html {
  font-size: 62.5%;
}

body {
  margin: 0;
  font-family: "Quicksand", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.wrapper {
  max-width: 768px;
  margin: 0 auto;
  margin-top: 96px;
}
